<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sucesso</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script>
        setTimeout(function(){
            window.location.href = "index.html";
        }, 5000);
    </script>
</head>
<body>
    <div class="container">
        <h1>Pedido Registrado com Sucesso!</h1>
        <p>Você será redirecionado para a página inicial em 5 segundos.</p>
        <div class="loader"></div>
    </div>
</body>
</html>
